.head{
  padding-top: 3px;
  margin-left: 45px;
  font-size:xx-large;
}

.mat{
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont{
  margin-top: 2px;
}


td ,tr {
  padding: 11px;
}

tr.border-bottom td {
  border-bottom: 1pt solid #5a57573f;
}

.sectext {
  font-size:large;
}

.card1 {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white;
  height : 35vw;
  width: 48vw;
  margin-top: 270px;
  font-family: "Montserrat";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.815);
}

.button {
  background-color: #328135;
  position: absolute;
  top:42vw;
  left:44vw;
  border-radius: 10px;
  border: none;
  color: rgb(255, 253, 253);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541);
}

.button:hover {
  outline: none;
  background: rgb(226, 199, 48);
  color: white;
}